

.video__outer-container {
    position       : relative ;
    padding-bottom : 56.25%   ;
}


.video__inner-container {
    position : absolute ;
    width    : 100%     ;
    height   : 100%     ;
}